.container {
    width: 100%;
    min-height: 100vh; 
    background-color: black;
    color: #fff;
    padding-bottom: 1.5rem;
    text-align: center;
    padding-inline: 1.5rem; 
    overflow: hidden; 
}

@media (max-width: 1024px) {
    .container {
        padding-inline: 2.5rem;
    }
}
